src/MafiaPickem.Api/bin/
src/MafiaPickem.Api/obj/
src/MafiaPickem.Api.Tests/bin/
src/MafiaPickem.Api.Tests/obj/
src/**/bin/
src/**/obj/
src/MafiaPickem.Api/local.settings.json
src/node_modules/
.vite/deps/
src/frontend/.playwright-cli/
.playwright-cli/
node_modules/
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
azurite-debug.log
AzuriteConfig
__blobstorage__/
*.png
.vs/
